body {
  font-family: "Avenir Next";
  background-image:url(../images/back.png);
  background-size:cover;
}
li {
  list-style: none;
}
.header {
  background-color: /*#26d0c9*/;
  color: #fff;
  height: 90px;
}
.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}
.header-list li {
  float: right;
  padding: 15px 20px;
  color: #fff;
  background-color: #fff;

}
.main{
  padding: 100px 80px;
  color:#fff;
}
.inputs{
  color: #fff;
}

.footer {
  background-color:;
  color: #fff;
  height: 90px;
}
.footer-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}
.footer-list li {
  text-align: center;
  padding: 33px 20px;
}