body {
  font-family: "Avenir Next";
  background-color:  #eeeeee;
}

li {
  list-style: none;
  
 
}
table{
  background-color:;
}
table th{
 padding: 30px 500px;
}
.header {
  background: #fff;
  color:  black;
  height: 90px;
  border-color:#6e8095;
  outline: none;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}
.header-list li{
  float:left;
  padding: 30px 60px;
  color: black;
  font-size: 20px;
}
.header-list a{
  text-decoration: none;
  color: white;
  color: black;
  border-color:#6e8095;
  outline: none;
}
.main {
  padding:100px 50px;
}
.copy-container h1{
  font-size: 20px;
  text-align: center;
}
.copy-container h2{
  font-size: 20px;
}
.contents{
  height: 300px;
}
.contents table{
  color: grey;

}

input{
 width: 400px;
 top margin: 1px;
 bottom margin: 3px;
 padding: 0px;
 font size: 18px;
 text-align: center;
}
.footer {
  background-color:white/*#2f5167*/;
  color:black/*#fff*/;
  height: 50px;
  padding: 40px;

}
.footer-logo{
  font-size: 32px;
  float: left;

}
.footer-list{
  float: right;

}
.footer-list li{
  padding-bottom: 5px;
}
.copyrights{
  text-align: center;
}
#mails tr td{
  padding: 2px 35px;

}
.section-title{
background-color: white;
text-align: center;
}
input{
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  height: 50px
  padding:20px;
  font-size:18px;
  border:1px solid;
  color:#dee7ec;
  text-align: center;
}
textarea{
width:400px;
height: 120px
}
#send-button{
  color: black;

}
.main h3{
  text-align: center;
}
